.profilePairStart { 
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.profilePairEven {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.profileText {
  min-width: 10%;
  max-width: 30%;
}
.profileTextFill {
  width: auto;
}

.profileInput {
  min-width: 50%;
  max-width: 50%;
}

.profileSpacer {
  padding: 15px;
}
