/* switch the default font for the body, and remove top/bottom/left/right margin */
body {
  font-family: "Fresca", sans-serif;
  margin: 0;
}

/* Make the button for adding a message hover in the top right */
#showFormButton {
  position: absolute;
  top: 5px;
  right: 5px;
}

/* make the form elements wide, and force a line break after each */
input,
label,
textarea {
  display: block;
  padding: 5px 0px 5px 0px;
  width: 100%;
}

/* put some space between textareas and the buttons that follow them */
textarea {
  margin-bottom: 5px;
}

/* put some left space before form elements */
label,
input,
textarea,
#addButton,
#editButton {
  /* margin: 0px 15px 0px 15px; */
  padding: 0px 5px 0px 5px;
  color: #000;
}

/* custom formatting for the span where we put the creation date */
#editCreated {
  display: block;
  margin-bottom: 5px;
  margin-left: 15px;
}

#Messages {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 25px 150px 10px 150px;
}
.mainTitle {
  display: flex;
  justify-content: center;
  padding: 25px 0 25px 0;
}

.messageTable {
  display: flex;
  justify-content: center;
}

.messages {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.messageEntry {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  min-width: 900px;
  width: 900px;

  min-height: 20px;
  background: rgb(226, 226, 226);

  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.messageEntry:hover {
  background: rgb(204, 203, 203);
}

.messageTitle {
  padding: 10px 0px 5px 20px;
  min-width: 300px;
}

.messageContent {
  min-width: 40%;
}

/* Comments: */

.messageComment {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  min-width: 900px;
  width: 900px;
  min-height: 60px;

  background: rgb(236, 236, 236);

  margin-bottom: 15px;

  box-shadow: 0 8px 6px -6px black;

  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.commentBox {
  min-width: 700px;
  min-height: 50px;
  margin: 0;
  padding: 0px 10px 0px 10px;
  outline: none;
  border-color: inherit;
  box-shadow: none;
}

/* Buttons: */

.ElementList-editbtn,
.ElementList-delbtn,
.ElementList-upbtn,
.ElementList-downbtn,
.ElementList-cmtbtn {
  background: #fff;
  border-radius: 3px;
  min-height: 30px;
  min-width: auto;
  margin: 3px 0px 3px 0px;
  border-color: #fff;
}

.ElementList-editbtn:hover,
.ElementList-delbtn:hover,
.ElementList-upbtn:hover,
.ElementList-downbtn:hover,
.ElementList-cmtbtn:hover {
  background: rgb(148, 148, 148);
  border-color: rgb(148, 148, 148);
}

/* Button Icons: */

.icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.upvote {
  color: rgb(18, 175, 18);
}
.downvote {
  color: rgb(204, 38, 38);
}
.edit {
  color: rgb(24, 127, 224);
}
.delete {
  color: rgb(124, 124, 124);
}
.navbarItem:hover {
  cursor: pointer;
}
.profilePairStart { 
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.profilePairEven {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.profileText {
  min-width: 10%;
  max-width: 30%;
}
.profileTextFill {
  width: auto;
}

.profileInput {
  min-width: 50%;
  max-width: 50%;
}

.profileSpacer {
  padding: 15px;
}
